@{
  Layout = "_Layout"; 
}

@model HairSalon.Models.Stylist

<h1 class="text-center"> ~Add a new Stylist~ </h1>

<div class="text-center"> 
  @using (Html.BeginForm())
  {
    <div class="fieldset newClient">
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="fieldset newClient">
      @Html.LabelFor(model => model.Specialty)
      @Html.TextBoxFor(model => model.Specialty)
    </div>
    <div class="newClient">
      <input type="submit" value="Add new Stylist"/>
    </div>
  }
</div>

<p class="text-center navMenu">@Html.ActionLink("Show all stylists", "Index")</p> 