@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1 class="text-center">~Stylist Details~</h1>
<hr />
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Specialty</th>
    </tr>
  </thead>
  <tbody>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.Specialty)</td>
  </tbody>
</table>

<p class="text-center navMenu">@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p class="text-center navMenu">@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p class="text-center navMenu">@Html.ActionLink("Add New Client", "Create", "Clients")</p>