@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1 class="text-center">Add a new Client</h1>

<div class="text-center">
  @using (Html.BeginForm())
  {
    <div class="fieldset newClient">  
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)
    </div>
    <div class="fieldset newClient">
      @Html.LabelFor(model => model.Stylist)
      @Html.DropDownList("StylistId")
    </div> 
    <div class="newClient"> 
      <input type="submit" value="Add new Client" />
    </div>
  }
</div>
<p class="text-center navMenu">@Html.ActionLink("Show all Clients", "Index")</p>