@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h1 class="text-center">~Client Details~</h1>
<hr />

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Stylist</th>
    </tr>
  </thead>
  <tbody>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.Stylist.Name)</td>
  </tbody>
</table>

<p class="text-center navMenu">@Html.ActionLink("Edit Client", "Edit", new { id = Model.ClientId })</p>
<p class="text-center navMenu">@Html.ActionLink("Delete Client", "Delete", new { id = Model.ClientId })</p>
<p class="text-center navMenu">@Html.ActionLink("Back to list", "Index")</p>